.home {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto auto auto;
}

.top{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#expense-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

#income-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.d-item {
    color: black;
    font-family: 'Roboto';
    border-radius: 13px;
    padding: 15px;
    background: white;
    margin: 15px;
    
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.d-item h2{
    margin: 0 0 5px 0;
}

#i-balance{
    text-align: center;
    width: 20%;
    padding: 0px;
}

h3{
margin:  5px;
}

h4{
    margin:  5px;
}

#i-edit{
    text-align: center;
    width: 10%;
    padding: 5px;
    position: relative;
}
#edit-button{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#i-timeline {
    grid-column-start: 1;
    grid-column-end: 3;
    height: auto;
}

#i-expense {

}

#i-cat {
  
}

#i-income {

}

#i-chart {
   
}

#i-donnut {
   
}

#i-range {
    
}

