.home {
    /*display: grid;
    grid-template-areas: "expense   chart";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0 10px;*/
    align-items: center;
    justify-items: center;
}

.d-item {
    color: black;
    font-family: 'Roboto';
    border-radius: 50px;
    padding: 20px;
    background: white;
    margin-top: 20px;
    width: 50%;

}

#i-balance{
    text-align: center;
    width: 25%;
}

#i-edit{
    text-align: center;
    width: 25%;
}

#i-expense {
    
}
#i-cat {
    
}

#i-income {
    
}

#i-range {
    
}

#i-chart {
   
}

#i-donnut {
   
}