.home {
    /*display: grid;
    grid-template-areas: "expense   chart";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0 10px;*/
    align-items: center;
    justify-items: center;
}

.d-item {
    color: black;
    font-family: 'Roboto';
    border-radius: 50px;
    padding: 20px;
    background: white;
    margin-top: 20px;
}

#i-expense {
    /*grid-area: expense;*/
    width: 50%;
}

#i-range {
    /*grid-area: expense;*/
    width: 50%;
}

#i-chart {
    /*grid-area: chart;*/
    width: 50%;
}

#i-donnut {
    /*grid-area: chart;*/
    width: 50%;
}