.edit-container {
    color: black;
    font-family: 'Roboto';
    border-radius: 50px;
    padding: 20px;
    background: white;
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}
.top-edit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
   

}

#buttons button{
    margin-left: 5px;
    margin-right: 5px;
}
#t-expenses{
    text-align: center;
}
#t-expenses table{
    margin-left: auto;
    margin-right: auto;
}
#t-income{
    text-align: center;
    margin-top: 10px;
    display: none;
}
#t-income table{
    margin-left: auto;
    margin-right: auto;
}