{%extends "layout.html"%}
{%block content%}


<div class="edit-container">
    <div class="top-edit">
        <h3 style="margin-bottom: 10px; margin-left: 15px;">Transactions</h3>
        <form id="export-button" style="margin-right: 15px;" method="get" action="/export">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Export
            </button>
        </form>
    </div>
    
    <div id="buttons">
        <button id="b-e"  class="mdl-button mdl-js-button mdl-button--raised  mdl-button--colored">
            Expenses
        </button>
        <button id="b-i" class="mdl-button mdl-js-button mdl-button--raised">
            Income
        </button>
    </div>
    
    <div id="t-expenses">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Date</th>
                    <th class="mdl-data-table__cell--non-numeric">Category</th>
                    <th>Amount</th>
                    <th class="mdl-data-table__cell--non-numeric note-table">Note</th>
                    <th class="mdl-data-table__cell--non-numeric">Delete</th>
                </tr>
            </thead>
            <tbody>
                {%for i in range(0, len_ex)%}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">{{expenses[i].date.strftime("%d-%m-%Y")}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{expenses[i].category}}</td>
                    <td>{{expenses[i].amount}}€</td>
                    <td class="mdl-data-table__cell--non-numeric note-table">{{expenses[i].note}}</td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <a href="/delete?type=expense&id={{expenses[i].id}}">
                            <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                                <i class="material-icons">delete</i>
                            </button>
                        </a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <div id="t-income">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Date</th>
                    <th class="mdl-data-table__cell--non-numeric">Category</th>
                    <th>Amount</th>
                    <th class="mdl-data-table__cell--non-numeric note-table">Note</th>
                    <th class="mdl-data-table__cell--non-numeric">Delete</th>
                </tr>
            </thead>
            <tbody>
                {%for i in range(0, len_in)%}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">{{incomes[i].date.strftime("%d-%m-%Y")}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{incomes[i].category}}</td>
                    <td>{{incomes[i].amount}}€</td>
                    <td class="mdl-data-table__cell--non-numeric note-table">{{incomes[i].note}}</td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <a href="/delete?type=income&id={{incomes[i].id}}">
                            <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                                <i class="material-icons">delete</i>
                            </button>
                        </a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>


{%endblock%}