{%extends "layout.html"%}
{%block content%}

<div class="home">
    <h1>Hi, {{ current_user.username }}!</h1>

    <div class="d-item" id="i-balance">
        <h2>Balance</h2>
        <h1>{{balance}}€</h1>
    </div>

    <div class="d-item" id="i-edit">
        <h2>Edit Transactions</h2>
        <form method="get" action="/edit">
            <button type="submit">Let's go!</button>
        </form>
    </div>
    <div class="d-item" id="i-timeline">
        <canvas id="timelineGraph"></canvas>
    </div>

    <div class="d-item" id="i-expense">
        <h2>Add Expense</h2>
        <form id="input-expense" method="POST">
            <label>Amount</label>
            <input type="number" step="0.01" name="amount">
            <label>Category</label>
            <select id="category" name="category">
                {%for i in range(0, lencat)%}
                    <option value={{categories[i]}}>{{categories[i]}}</option>
                {%endfor%}
            </select>
            <label>Date</label>
            <input type="date" name="date">
            <label>Note</label>
            <input type="text" name="note">
            <input type="submit" name="submit-input-expense" value="Submit">
        </form>
    </div>
    <div class="d-item" id="i-cat">
        <h2>Add Category</h2>
        <form id="cat-man" method="POST">
            <label>Category</label>
            <input type="text" name="cat-mod">
            <input type="submit" name="cat-add" value="+">
            <input type="submit" name="cat-delete" value="-">
        </form>
    </div >
   
    <div class="d-item" id="i-income">
        <h2>Add Income</h2>
        <form id="input-income" method="POST">
            <label>Amount</label>
            <input type="number" step="0.01" name="amount">
            <label>Category</label>
            <select id="category" name="category">
                    <option value="Salary">Salary</option>
                    <option value="Allowance">Allowance</option>
                    <option value="Petty cash">Cash</option>
                    <option value="Bonus">Bonus</option>
                    <option value="Other">Other</option>
            </select>
            <label>Date</label>
            <input type="date" name="date">
            <label>Note</label>
            <input type="text" name="note">
            <input type="submit" name="submit-input-income" value="Submit">
        </form>
    </div>

    <div class="d-item" id="i-donnut">
        <div class="d-item" id="i-range">
            <h2>Monthly Summary</h2>
            <form id="input-range" method="POST">
                <label for="start">Start date:</label>
                <input type="date" id="start" name="start">
                <label for="start">End date:</label>
                <input type="date" id="end" name="end">
                <input type="submit"name="submit-date" value="Submit">
            </form>
        </div>
        <canvas id="donnutChart"></canvas>
    </div>

    <div class="d-item" id="i-chart">
        <h2>Annual Summary</h2>
        <form id="cat-man" method="POST">
            <label>Year selection</label>
            <select id="year" name="year">
                    <option value='2020'>2020</option>
                    <option value='2019'>2019</option>
                    <option value='2018'>2018</option>
            </select>
            <input type="submit" name="submit-year" value="Submit">
        </form>
        <canvas id="myChart"></canvas>
    </div>
   
    <div class="d-item" id="i-table">
        <table style="width:100%">
            <tr>
                <th>User_id</th>
                <th>Date</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Note</th>
            </tr>
            {%for i in range(0, len)%}
            <tr>
                <td>{{expenses[i].user_id}}</td>
                <td>{{expenses[i].date}}</td>
                <td>{{expenses[i].category}}</td>
                <td>{{expenses[i].amount}}</td>
                <td>{{expenses[i].note}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: ['Jan', 'Feb', 'Mar','Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov','Dic'],
            datasets: [
                {%for i in range(0, lencat)%}
                    {
                    label: '{{categories[i]}}',
                    data: [
                            {%for j in range(0, 12)%}
                                {{exp_t_c[j][i]}},
                            {%endfor%}
                            ],
                    backgroundColor: '{{colors[i]}}'
                },   
                {%endfor%}
            ]
        },

        // Configuration options go here
        options: {	
                title: {
                    display: true,
                    text: 'Year summary'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                responsive: true,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
    });

    var ctx2 = document.getElementById('donnutChart').getContext('2d');
    var chart2 = new Chart(ctx2, {
        // The type of chart we want to create
        type: 'doughnut',

        // The data for our dataset
        data: {
            datasets: [{
                data: {{exp_cat}},
                backgroundColor: [
                    {%for i in range(0, lencat)%}
                        '{{colors[i]}}',
                    {%endfor%}   
                ]
            }],

            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: [
                    {%for i in range(0, lencat)%}
                        '{{categories[i]}}',
                    {%endfor%}
            ]
        },

        // Configuration options go here
        options: {}
    });

    var ctx3 = document.getElementById('timelineGraph').getContext('2d');
    var chart3 = new Chart(ctx3, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ["2015-03-15T13:03:00Z", "2015-03-25T13:02:00Z", "2015-04-25T14:12:00Z"],
            datasets: [{
            label: 'Demo',
            data: [{
                t: "2015-03-15T13:03:00Z",
                y: 12
                },
                {
                t: "2015-03-25T13:02:00Z",
                y: 21
                },
                {
                t: "2015-04-25T14:12:00Z",
                y: 32
                }
            ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    type: 'time',
                    distribution: 'linear'
                }]
            }
        }
    });
</script>

{%endblock%}