{%extends "layout.html"%}
{%block content%}

<div class="logsign"> 
    <div class="wrapper">
        <div class="contain">
          <div class="msg">{{user_created | safe}}</div>
          <div class="msg">{{login_error | safe}}</div>
          <div class="signup">Sign Up</div>
          <div class="login">Log In</div>
           <form class="signup-form" method="POST">
               <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label login-item">
                  <input class="mdl-textfield__input" type="mail" id="email" name="email">
                  <label class="mdl-textfield__label" for="email">Email</label>
               </div>
               <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label login-item">
                  <input class="mdl-textfield__input" type="text" id="username" name="username">
                  <label class="mdl-textfield__label" for="username">Username</label>
               </div>
               <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label login-item">
                  <input class="mdl-textfield__input" type="password" id="password" name="password">
                  <label class="mdl-textfield__label" for="password">Password</label>
               </div>
               <button style="margin-top: 20px;" type="submit" name="submit-signup" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                  Submit
               </button>
           </form>
          <form class="login-form" method="POST">
               <span class="mdl-chip">
                  <span class="mdl-chip__text">Demo user/pw: guest/guest</span>
               </span>
               <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label login-item">
                  <input class="mdl-textfield__input" type="text" id="email_or_username" name="email_or_username">
                  <label class="mdl-textfield__label" for="email_or_username">Email or Username</label>
               </div>
               <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label login-item">
                  <input class="mdl-textfield__input" type="password" id="password_l" name="password">
                  <label class="mdl-textfield__label" for="password_l">Password</label>
               </div>
               
                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="rememberMe">
                  <input type="checkbox" id="rememberMe" name="rememberMe" class="mdl-switch__input">
                  <span class="mdl-switch__label">Remember me</span>
                </label>
                <button style="margin-top: 20px;" type="submit" name="submit-login" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                  Submit
               </button>
           </form>
          
        </div>
      </div>
</div>



{%endblock%}